@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4285f4;         /* Google Blue */
  --primary-hover: #357ae8;
  --background: #f9f9f9;
  --text-color: #202124;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--text-color);
}
